@font-face {
  font-family: 'Gotham';
  src: url('./Gotham-Font/GothamLight.ttf') format('truetype');
  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./Gotham-Font/GothamBook.ttf') format('truetype');
  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./Gotham-Font/GothamMedium.ttf') format('truetype');
  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./Gotham-Font/GothamBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Gotham', sans-serif;
  font-weight: 300;
}


.action-button {
  background-color: #0F2A49;
  outline: none;
  border: none;
  width: 400px;
  height: 80px;
  font-size: 28px;
  font-weight: 400;
  margin: 100px 0px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.action-button:hover {
  background-color: #1D375A;
}


@media screen and (max-width: 1200px) {

  .action-button {
    width: 320px;
    height: 70px;
    font-size: 24px;
  }
}

@media screen and (max-width: 900px) {


  .action-button {
    width: 280px;
    height: 60px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {

  .action-button {
    width: 200px;
    height: 45px;
    font-size: 16px;
  }
}